.container form {
  margin-top: 3rem;
}

input[type="text"] {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid whitesmoke;
  border: 1;
  border-radius: 0;
}

form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

input::placeholder {
  color: white;
}
.container {
  color: white !important;
}
